$primary: #1f8a70;
$secondary: #00425a;
$success: #eff5f5;
$warning: #181823;
$danger: #fc7300;

$link-hover-color: #fc7300;
$link-color: $success;
$link-decoration: none;

$bs-nav-link-hover-color: #fc7300;

$font-weight-semibold: 1.5rem;
$font-size-lg: 1.8rem;

$font-family-sans-serif: "Poppins", sans-serif;
$input-font-family: "Belanosima", sans-serif;
$card-title-color: #fc7300;
