$primary: #1f8a70;
$secondary: #fc7300;
$success: #eff5f5;
$info: #00425a;
$warning: #181823;

$font-weight-semibold: 1.5rem;
$font-size-lg: 2rem;

$navbar-light-hover-color: #00425a;
$font-family-sans-serif: "Poppins", sans-serif;
