@media (min-width: 320px) and (max-width: 768px) {
  .nav-item:hover {
    background-color: $navbar-light-hover-color;
    color:$success;
    font-size: $font-weight-semibold;

    .nav-link:hover {
      color: $primary;
    }
  }
}
