@media (min-width: 320px) and (min-width: 768px) {
  .nav-link {
    background-color: $secondary;
  }
  .nav-item:hover {
    font-size: $font-size-lg;
    color: $link-hover-color !important;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .nav-item:hover {
    background-color: $secondary;
    color: $success;
  }
}
